.hero-ani h6{
    transform: translateY(0px);
    transition: all 2.5s ease-in;
    animation: slideDown 2s linear;
}
@keyframes slideDown {
    from{
        transform: translateY(-180px);
    } to {
        transform: translateY(0px);
    }
}
.hero-ani h3{
    transform: translateY(0px);
    transition: all 2.5s ease-in;
    animation: slideUp 2s linear;
}
@keyframes slideUp {
    from {
        transform: translateY(950px);
    } to {
        transform: translateY(0px);
    }
}
.hero-ani .con{
    transition: all 2.5s ease-in;
    animation: slideRight 2s linear;
    transform: translateX(0px);
}
@keyframes slideRight {
    from {
        transform: translateX(-950px);
    } to {
        transform: translateX(0px);
    }
}
.hero-ani .h4{
    transition: all 2.5s ease-in;
    animation: slideRight 2s linear;
    transform: translateX(0px);
}
@keyframes slideRight {
    from {
        transform: translateX(-950px);
    } to {
        transform: translateX(0px);
    }
}
.hero-ani .con2{
    transition: all 2.5s ease-in;
    animation: slideLeft 2s linear;
    transform: translateX(0px);
}
@keyframes slideLeft {
    from {
        transform: translateX(950px);
    } to {
        transform: translateX(0px);
    }
}