@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Porter Sans Block Block';
    src: local('Porter Sans Block Block'), url('css/PorterSansBlock-Regular.woff') format('woff');
}

body,
html{
    height: 100svh !important;
}

.head-con {
    height: 70px !important;
    z-index: 999;
}
.head-con2 {
    height: 100% !important;
    background-color: rgba(33, 37, 41) !important;
}
.logo-hol{
    height: 30px !important;
}
.log-hol{
    height: 70px;
}
.logo-con h2, h3 {
    font-size: 18px;
    margin: 0 !important;
    font-weight: 500;
    font-family: "Urbanist", serif;
}
.logo-con h3 {
    width: fit-content;
    background: #F57920;
    border-radius: 50px;
}
ul li a {
    font-size: 17px !important;
    font-weight: 500;
    font-family: "Urbanist", serif;
    color: inherit !important;
}
.nav-link:hover {
    color: #F57920 !important;
}
.nav-item:active {
    color: #F57920 !important;
}
.nav-item{
    color: #ffffff  ;
}
.nav-item.active {
    color: #F57920 !important;
}
.links-hol {
    z-index: 20;
}
.bar-hol{
    display: block;
    background: #F57920;
    height: 35px;
    width: 35px;
    top: 8px;
    border-radius: 5px;
}
.bar-hol .bar{
    height: 5px;
    width: 26px;
    background: #ffffff;
}
.bar-hol .bar2{
    width: 13px;
}
.close-bar{
    background: #F57920;
    color: #ffffff;
    height: 30px;
    width: 30px;
    font-size: 15px;
}


/*
    HERO SECTION STYLE
*/


.home {
    background: #FD853A;
    width: 100%;
    height: fit-content;
}
.big-circle,
.big-circle img{
    height: 540px;
}
.big-circle{
    transform: translateY(-35px);
}
.small-circle{
    transform: translateY(67px);
}
.hero-form-hol {
    z-index: 10;
    height: 100%;
}
.con-info h6 {
    text-transform: uppercase;
    font-family: "Work Sans", serif;
}
.con-info h3{
    font-size: 35px;
    font-weight: 700;
    font-family: "Work Sans", serif;
    line-height: 145%;
}
.con-info h4{
    font-size: 24px;
    font-weight: 700;
    font-family: "Urbanist", serif;
}
.con-info h4 span{
    color: #282828;
}
.con {
    height: 110px;
    border-radius: 15px;
}
.con div span{
    font-size: 14px !important;
    font-family: "Work Sans", serif;
}
input{
    font-family: "Work Sans", serif;
    height: 50px !important;
    border-radius: 8px !important;
}
textarea{
    height: 130px;
    resize: none !important;
    width: 100% !important;
    font-family: "Work Sans", serif;
    border-radius: 8px !important;
}
::placeholder{
    font-size: 15px;
    color: #666666;
    font-family: "Work Sans", serif;
}
.con2{
    background: #ffffff;
    height: fit-content;
    border-radius: 15px;
}
.con2 h4{
    font-family: "Urbanist", serif;
    font-weight: 700;
    font-size: 22px;
}
.con2 .form .form-control{
    border-radius: 0px !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #4D4D4D;
}
.con2 .form .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: transparent !important;
    border-bottom: 1px solid #4D4D4D !important;
}
.con2 .form input,
.con2 .form .txt-area{
    font-family: "Urbanist", serif;
}
.con2 .form .txt-area{
    height: 50px !important;
}
.con2 .form input::placeholder{
    color: #4D4D4D;
    font-family: "Urbanist", serif;
}
.con2 .form .txt-area::placeholder{
    color: #4D4D4D;
    font-family: "Urbanist", serif;
}
.con2 .form button{
    height: 40px;
    border-radius: 12px;
    background: #F57920;
    font-family: "Urbanist", serif;
}
.con2 .form button:hover{
    background: #ffff;
    color: #F57920;
    border: 2px solid #F57920;
}
.button{
    border: none;
    background: #373737;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    width: 207px;
    text-transform: capitalize;
    font-family: "Work Sans", serif;
}
.button:hover{
    background: #ffffff;
    color: hsl(0, 0%, 42%);
    border: 2px solid hsl(0, 0%, 42%);
}


/*
    SERVICE SECTION STYLE
*/

.serv h2 {
    font-family: "Poppins", serif;
    font-size: 32px;
}
.serv h2 span {
    color: #FD853A;
}
.servi{
    height: 320px;
    width: 270px;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 16px;
    transition: all 0.5s ease-in;
}
.servi:hover{
    border: 2px solid hsl(39, 100%, 85%);
    cursor: pointer;
    transform: scale(1.5);
}
.servi div {
    font-family: "Poppins", serif;
    width: 270px;
    padding: 0px 15px;
}
.servi div h1{
    font-weight: 550;
    font-size: 18px;
}
.servi div p{
    font-weight: 450;
    font-size: 12px;
}
.servi .img-con{
    height: 50px;
    width: 50px;
}
.servi div img{
    height: 60px;
    width: 60px;
}
.serv-btn-hol button{
    display: flex;
    border: 1px solid #F57920;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #F57920;
    flex-direction: column;
    font-weight: 400;
}
.serv-btn-hol .active1{
    background: #F57920;
    color: #ffffff;
}


/*
    WHY SECTION STYLE
*/


.why-hol{
    gap: 16px;
}
.why-hol .img-hol img{
    height: 320px;
    width: 130px;
}
.why-txt-hol div,
.help-txt div,
.meet-hed div{
    font-family: "Poppins", serif;
}
.why-txt-hol div h5{
    font-size: 16px;
    line-height: 140%;
}
.why-txt-hol div h5 span{
    color: #FD853A;
}
.why-txt-hol div p{
    font-size: 12px;
}


/*
    HELP SECTION STYLE
*/


.help{
    background-image: url(img//bus.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
}
.help-txt{
    height: 100%;
    background: hsla(0, 0%, 0%, 0.814);
}
.help-txt div h5{
    font-size: 24px;
    line-height: 140%;
}
.help-txt div h5{
    color: #FD853A;
}
.help-txt div h5 span{
    color: #ffffff;
}
.help-txt div p{
    font-size: 18px;
    color: #ffffff;
    line-height: 140%;
}


/*
    TEAMS SECTION STYLE
*/


.meet-hed div h3{
    font-size: 40px;
    font-weight: 600 !important;
}
.meet-hed div h3 span{
    color: #FD853A;
}
.meet-hed div h5{
    color: #FD853A;
    font-size: 22px;
}
.team .card-con img {
    width: 268px;
    height: 410px;
}
.btn-hol button{
    display: flex;
    border: 1px solid #F57920;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #F57920;
    flex-direction: column;
    font-weight: 400;
}
.btn-hol .active{
    background: #F57920;
    color: #ffffff;
}


/*
    CONTACT SECTION STYLE
*/


.contact {
    background: hsl(25, 91%, 84%);
}
.footer-bar{
    background: #424242;
    height: 100%;
}
.footer-bar .div{
    height: fit-content;
}
.send-arr{
    height: 50px;
    width: 50px;
    background: #F57920;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
.mail-in a{
    text-decoration: none;
    font-size: 22px;
    border-radius: 7px;
    color: #ffffff;
}
.mail-in a:hover{
    color: #F57920;
}
.contact input,
.contact textarea,
.contact ::placeholder,
.contact h3,
.contact p,
.contact span,
.contact button{
    font-family: "Poppings", serif;
}
.contact ::placeholder{
   font-size: 17px; 
}
.contact .button{
    border-radius: 10px;
    width: 100%;
    font-family: "Poppings", serif;
}
.contact .button:hover{
    background: #F57920;
    border: none;
    color: #ffffff;
}
.contact h3{
    font-size: 40px;
    color: #4D4D4D;
    font-weight: 550;
}
.contact p{
    font-size: 16px;
    color: #494949;
    font-weight: 400;
}
.contact .cont{
    font-size: 20px !important;
    color: #F57920;
    font-weight: 500;
}
.contact .ph{
    font-weight: 400;
    font-size: 15px !important;
}


/*
    WHATSAPP STYLE
*/


.wapp,
.wapp img{
    height: 40px;
}
.wapp {
    z-index: 99;
    bottom: 86px !important;
    cursor: pointer;
}
.wapp div{
    background: #ffffff;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.09),
                3px 3px 0px 0px rgba(0, 0, 0, 0.08);
    font-size: 13px;
    font-family: "Poppins", serif;
    color: hsl(0, 0%, 65%);
    font-weight: 500;
}
.wapp .sp{
    color: #373737;
}


/*
    RANDOM STYLE
*/


.disable{
    border: 1px solid #00000056 !important;
    color: #00000056 !important;
    background: none !important;
}
.error{
    font-family: "Urbanist", serif;
    font-weight: 450;
    font-size: 15px;
}
.load-hol{
    display: none;
}
.loading{
    z-index: 999; 
    height: 100vh; 
    background: hsla(0, 0%, 0%, 0.786);
    transition: all 0.5s ease;
    animation: fadeIn 0.6s linear;
}
.loding-in{
    background-color: white; 
    height: 120px; 
    border-radius: 6px;
}
.loding-in img{
    height: 55px; 
    width: 55px;
    transition: all 0.5s ease-in-out;
    animation: fadeIn 1.2s linear infinite;
}
.loding-in p{
    font-size: 17px;
    font-family: "Urbanist", serif;
}
.msg-hol{
    display: none;
}
.msg-hol .msg{
    z-index: 999;
    transition: all 0.5s ease-in-out;
    animation: fadeIn 0.6s linear;
}
.msg-hol .msg .msg-bx{
    height: 70px; 
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
    animation: slideLeft 1.2s linear;
}
.msg-hol .msg .msg-bx .txt span{
    font-family: "Urbanist", serif;
    font-size: 15px; 
    font-weight: 500; 
    line-height: 120%;
}


/*
    CEO INFO STYLE
*/


.own-info .info-title,
.own-info .info{
    font-family: "Poppins", serif;
}
.own-info .info-title span{
    color: #FD853A;
    font-weight: 700;
    line-height: 110%;
    font-size: 20px;
}
.own-info .info-title h5{
    font-weight: 600;
    line-height: 110%;
    font-size: 32px;
}
.own-info .info h5{
    font-weight: 400;
    line-height: 110%;
    font-size: 22px;
    color: #FD853A;
}
.own-info .info span{
    font-weight: 400;
    line-height: 125%;
    font-size: 19px;
}
.own-info .info-btn{
    height: 50px;
}
.own-info .info-btn button{
    background: #FD853A;
    height: inherit;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 20px;
}


/*
    HOW WE STYLE
*/


.hw-wrk{
    font-family: "Poppins", serif;
}
.hw-wrk span{
    color: #FD853A;
    font-weight: 700;
    line-height: 110%;
    font-size: 20px;
    letter-spacing: -0.015em;
}
.hw-wrk h5{
    font-weight: 600;
    line-height: 110%;
    font-size: 32px;
    letter-spacing: -0.015em;
}
.hw-w-wrk div{
    position: relative;
    overflow: hidden !important;
    Width: 100%;
    height: 200px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 2px 2px 5px 0px #00000040;
    border: 1px solid #0000004A;
    cursor: pointer;
}
.hw-w-wrk div::before{
    position: absolute;
    content: "";
    width: 60%;
    height: 200%;
    background: #F57920;
    transform: rotate(45deg);
    left: 40px;
    top: -80px;
    opacity: 0;
}
.hw-w-wrk div:hover::before{
    opacity: 1;
    transition: transform 0.3s ease;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.hw-w-wrk div::after{
    position: absolute;
    content: "";
    inset: 3px;
    background: #fff;
    border-radius: 15px;
}
.hw-w-wrk div h6{
    position: relative;
    font-family: 'Porter Sans Block Block';
    font-size: 120px;
    font-weight: 500;
    line-height: 150px;
    letter-spacing: -0.015em;
    background: #0000001A;
    background-clip: text;  
    color: transparent;
    margin: 0 !important;
    z-index: 5;
}
.hw-w-wrk div span{
    position: relative;
    font-family: "Poppins", serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.015em; 
    z-index: 5;
}


/*
    TESTIMONAIL STYLE
*/


.tes-head{
    font-family: "Poppins", serif;
}
.tes-head span{
    color: #FD853A;
    font-weight: 700;
    line-height: 110%;
    font-size: 22px;
    letter-spacing: -0.015em;
}
.tes-head h5{
    font-weight: 600;
    line-height: 110%;
    font-size: 40px;
    letter-spacing: -0.015em;
}
.tes-body{
    width: 600px;
    height: 250px;
    border: 1px solid #00000036;
    box-shadow: 4px 4px 4px 0px #FD853A30 inset,
                4px 4px 4px 0px #FD853A29;
}

@media only screen and (max-width: 500px) {
    .footer-bar div .lg{
        height: 32px;
    }
    .footer-bar .logo-con h2, p {
        font-size: 11px;
    }
}
@media only screen and (min-width: 768px) {
    .why-hol{
        gap: 0px;
    }
    .why-txt-hol div h5{
        font-size: 24px;
    }
    .why-txt-hol div p{
        font-size: 15px;
    }
    .why-hol .img-hol img {
        width: 320px;
    }
    .help{
        height: 25vh;
    }
    .hw-w-wrk div{
        Width: 220px;
    }
    .hw-w-wrk div h6{
        font-size: 80px;
    }
    .hw-w-wrk div span{
        font-size: 19px;
    }
}
@media only screen and (min-width: 992px) {
    body,
    html{
        height: 100vh;
    }
    .navbar-expand-lg .offcanvas {
        height: 70px !important;
        background-color: transparent !important;
    }
    .home {
        height: 100vh;
    }
    .big-circle{
        transform: translateY(70px);
    }
    .con2{
        background: transparent;
    }
    .why-hol .img-hol img{
        width: 320px;
    }
    .in-dual input{
        width: 187px !important;
    }
    .servi{
        height: 280px;
        width: 395px;
    }
    .servi div {
        width: 395px;
    }
    .servi div h1{
        font-weight: 550;
        font-size: 22px;
    }
    .servi div p{
        font-weight: 450;
        font-size: 14px;
    }
    .serv h2 {
        font-size: 40px;
    }
    .servi div img {
        height: 100px;
    }
    .serv-btn-hol button{
        height: 50px;
        width: 50px;
        font-size: 22px;
    }
    .why-hol .img-hol img{
        height: 500px;
        width: 500px;
    }
    .why-txt-hol div h5{
        font-size: 36px;
    }
    .why-txt-hol div p{
        font-size: 20px;
    }
    .why-hol{
        gap: 0px;
    }
    .help{
        height: 70vh;
    }
    .help-txt div h5{
        font-size: 36px;
    }
    .help-txt div p{
        font-size: 24px;
    }
    .meet-hed div h3{
        font-size: 48px;
    }
    .meet-hed div h5{
        font-size: 25px;
    }
    .team .card-con img{
        width: 405px;
        height: 550px;
    }
    .btn-hol button{
        height: 50px;
        width: 50px;
        font-size: 22px;
    }
    .footer-bar{
        height: 70px;
    }
    .footer-bar .div{
        height: 70px;
    }
    .send-arr{
        left: 10em;
    }
    .contact h3{
        font-size: 50px;
    }
    .contact .in-dual input{
        width: 240px !important;
    }
    .contact p{
        font-size: 20px;
    }
    .contact .cont{
        font-size: 23px !important;
    }
    .contact .ph{
        font-size: 17px !important;
    }
    .contact .button{
        width: 360px;
    }
    .own-info .info h5{
        font-size: 30px;
    }
    .own-info .info span{
        font-size: 25px;
    }
    .hw-wrk span{
        font-size: 22px;
    }
    .hw-wrk h5{
        font-size: 40px;
    }
    .hw-w-wrk div{
        Width: 293px;
    }
}
@media only screen and (min-width: 1028px) {
    .in-dual input{
        width: 230px !important;
    }
    .why-hol .img-hol img{
        height: 600px;
        width: 600px;
    }
    .why-txt-hol div h5{
        font-size: 48px;
    }
    .why-txt-hol div p{
        font-size: 28px;
    }
    .help-txt div h5{
        font-size: 40px;
    }
}