@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    height: 100svh;
}

.head-con {
    height: 70px;
    z-index: 999;
}
.head-con2 {
    height: 100%;
    background-color: rgba(33, 37, 41) !important;
}
.logo-hol{
    height: 30px !important;
}
.log-hol{
    height: 70px;
}
.logo-con h2, p {
    font-size: 18px;
    margin: 0 !important;
    font-weight: 500;
    font-family: "Urbanist", serif;
}
.logo-con p {
    width: fit-content;
    background: #F57920;
    border-radius: 50px;
}
ul li a {
    font-size: 17px;
    font-weight: 500;
    font-family: "Urbanist", serif;
}
.nav-link:hover {
    color: #F57920 !important;
}
.nav-item:active {
    color: #F57920 !important;
}
.nav-item.active {
    color: #F57920 !important;
}
.links-hol {
    z-index: 20;
}
.bar-hol{
    display: block;
    background: #F57920;
    height: 35px;
    width: 35px;
    top: 8px;
    border-radius: 5px;
}
.bar-hol .bar{
    height: 5px;
    width: 26px;
    background: #ffffff;
}
.bar-hol .bar2{
    width: 13px;
}
.close-bar{
    background: #F57920;
    color: #ffffff;
    height: 30px;
    width: 30px;
    font-size: 15px;
}
.home {
    background: #FD853A;
    width: 100%;
    height: fit-content;
}
.big-circle,
.big-circle img{
    height: 540px;
}
.big-circle{
    transform: translateY(70px);
}
.small-circle{
    transform: translateY(67px);
}
.hero-form-hol {
    z-index: 10;
    height: 100%;
}
.con-info h6 {
    text-transform: uppercase;
    font-family: "Work Sans", serif;
}
.con-info h3{
    font-size: 40px;
    font-weight: 700;
    font-family: "Work Sans", serif;
    line-height: 145%;
}
.con-info h4{
    font-size: 29px;
    font-weight: 700;
    font-family: "Urbanist", serif;
}
.con-info h4 span{
    color: #282828;
}
.con {
    height: 110px;
    border-radius: 15px;
}
.con div span{
    font-size: 14px !important;
    font-family: "Work Sans", serif;
}
input{
    font-family: "Work Sans", serif;
    height: 50px !important;
    border-radius: 8px !important;
}
textarea{
    height: 130px;
    resize: none !important;
    width: 100% !important;
    font-family: "Work Sans", serif;
    border-radius: 8px !important;
}
::placeholder{
    font-size: 15px;
    color: #666666;
    font-family: "Work Sans", serif;
}
.con2{
    background: #ffffff;
    height: fit-content;
    border-radius: 15px;
}
.con2 h4{
    font-family: "Urbanist", serif;
    font-weight: 700;
    font-size: 25px;
}
.con2 .form .form-control{
    border-radius: 0px !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #4D4D4D;
}
.con2 .form .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: transparent !important;
    border-bottom: 1px solid #4D4D4D !important;
}
.con2 .form input{
    font-family: "Urbanist", serif;
}
.con2 .form input::placeholder{
    color: #4D4D4D;
    font-family: "Urbanist", serif;
}
.con2 .form button{
    height: 40px;
    border-radius: 12px;
    background: #F57920;
    font-family: "Urbanist", serif;
}
.button{
    border: none;
    background: #373737;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    width: 207px;
    text-transform: capitalize;
    font-family: "Work Sans", serif;
}
.button:hover{
    background: #ffffff;
    color: #1f1f1f;
    border: 2px solid #1f1f1f;
}
.serv h3 {
    font-family: "Poppins", serif;
    font-size: 35px;
}
.serv h3 span {
    color: #FD853A;
}
.servi{
    height: 350px;
    width: 270px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.09),
                inset 7px 7px 0px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    transition: all 0.5s ease-in;
}
.servi:hover{
    box-shadow: inset 0px 0px 2px 2px rgba(250, 93, 14, 0.09),
                inset 7px 7px 0px 0px rgba(255, 66, 14, 0.08);
    cursor: pointer;
    transform: scale(1.5);
}
.servi div {
    font-family: "Poppins", serif;
    width: 270px;
    padding: 0px 15px;
}
.servi div h2{
    font-weight: 550;
    font-size: 20px;
}
.servi div span{
    font-weight: 450;
    font-size: 12px;
}
.servi div img{
    height: 50px;
}
.serv-btn-hol button{
    display: flex;
    border: 1px solid #F57920;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #F57920;
    flex-direction: column;
    font-weight: 400;
}
.serv-btn-hol .active1{
    background: #F57920;
    color: #ffffff;
}
.why-hol{
    gap: 16px;
}
.why-hol .img-hol img{
    height: 320px;
    width: 130px;
}
.why-txt-hol div,
.help-txt div,
.meet-hed div{
    font-family: "Poppins", serif;
}
.why-txt-hol div h5{
    font-size: 16px;
    line-height: 140%;
}
.why-txt-hol div h5 span{
    color: #FD853A;
}
.why-txt-hol div p{
    font-size: 12px;
}
.help{
    background-image: url(./bus.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh;
}
.help-txt{
    height: 100%;
    background: hsla(0, 0%, 0%, 0.814);
}
.help-txt div h5{
    font-size: 24px;
    line-height: 140%;
}
.help-txt div h5{
    color: #FD853A;
}
.help-txt div h5 span{
    color: #ffffff;
}
.help-txt div p{
    font-size: 18px;
    color: #ffffff;
}
.meet-hed div h3{
    font-size: 40px;
    font-weight: 600 !important;
}
.meet-hed div h3 span{
    color: #FD853A;
}
.meet-hed div h5{
    color: #FD853A;
    font-size: 22px;
}
.team .card-con img {
    width: 268px;
    height: 410px;
}
.btn-hol button{
    display: flex;
    border: 1px solid #F57920;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #F57920;
    flex-direction: column;
    font-weight: 400;
}
.btn-hol .active{
    background: #F57920;
    color: #ffffff;
}
.contact {
    background: hsl(25, 91%, 84%);
}
.footer-bar{
    background: #424242;
    height: 100%;
}
.footer-bar .div{
    height: fit-content;
}
.send-arr{
    height: 50px;
    width: 50px;
    background: #F57920;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
.mail-in a{
    text-decoration: none;
    font-size: 30px;
    border-radius: 7px;
    color: #ffffff;
}
.contact input,
.contact textarea,
.contact ::placeholder,
.contact h3,
.contact p,
.contact span,
.contact button{
    font-family: "Poppings", serif;
}
.contact ::placeholder{
   font-size: 17px; 
}
.contact .button{
    border-radius: 10px;
    width: 100%;
    font-family: "Poppings", serif;
}
.contact .button:hover{
    background: #F57920;
    border: none;
    color: #ffffff;
}
.contact h3{
    font-size: 40px;
    color: #4D4D4D;
    font-weight: 550;
}
.contact p{
    font-size: 16px;
    color: #494949;
    font-weight: 400;
}
.contact .cont{
    font-size: 20px !important;
    color: #F57920;
    font-weight: 500;
}
.contact .ph{
    font-weight: 400;
    font-size: 15px !important;
}
.wapp,
.wapp img{
    height: 40px;
}
.wapp {
    z-index: 99;
    bottom: 86px !important;
    cursor: pointer;
}
.wapp div{
    background: #ffffff;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.09),
                3px 3px 0px 0px rgba(0, 0, 0, 0.08);
    font-size: 13px;
    font-family: "Poppins", serif;
    color: hsl(0, 0%, 65%);
    font-weight: 500;
}
.wapp .sp{
    color: #373737;
}
.mail-in a:hover{
    color: #F57920;
}
.disable{
    border: 1px solid #00000056 !important;
    color: #00000056 !important;
    background: none !important;
}
@media only screen and (max-width: 500px) {
    .footer-bar div .lg{
        height: 32px;
    }
    .footer-bar .logo-con h2, p {
        font-size: 11px;
    }
}
@media only screen and (min-width: 768px) {
    .why-hol{
        gap: 0px;
    }
    .why-txt-hol div h5{
        font-size: 24px;
    }
    .why-txt-hol div p{
        font-size: 15px;
    }
    .why-hol .img-hol img {
        width: 320px;
    }
}
@media only screen and (min-width: 992px) {
    body{
        height: 100vh;
    }
    .head-con2 {
        height: 70px;
        background-color: transparent !important;
    }
    .home {
        height: 100vh;
    }
    .con2{
        background: transparent;
    }
    .why-hol .img-hol img{
        width: 320px;
    }
    .in-dual input{
        width: 187px !important;
    }
    .servi{
        height: 450px;
        width: 395px;
    }
    .servi div {
        width: 395px;
    }
    .servi div h2{
        font-weight: 550;
        font-size: 26px;
    }
    .servi div span{
        font-weight: 450;
        font-size: 15px;
    }
    .serv h3 {
        font-size: 40px;
    }
    .servi div img {
        height: 100px;
    }
    .serv-btn-hol button{
        height: 50px;
        width: 50px;
        font-size: 22px;
    }
    .why-hol .img-hol img{
        height: 500px;
        width: 500px;
    }
    .why-txt-hol div h5{
        font-size: 36px;
    }
    .why-txt-hol div p{
        font-size: 20px;
    }
    .why-hol{
        gap: 0px;
    }
    .help{
        height: 70vh;
    }
    .help-txt div h5{
        font-size: 36px;
    }
    .help-txt div p{
        font-size: 24px;
    }
    .meet-hed div h3{
        font-size: 48px;
    }
    .meet-hed div h5{
        font-size: 25px;
    }
    .team .card-con img{
        width: 405px;
        height: 550px;
    }
    .btn-hol button{
        height: 50px;
        width: 50px;
        font-size: 22px;
    }
    .footer-bar{
        height: 70px;
    }
    .footer-bar .div{
        height: 70px;
    }
    .send-arr{
        left: 10em;
    }
    .contact h3{
        font-size: 50px;
    }
    .contact .in-dual input{
        width: 240px !important;
    }
    .contact p{
        font-size: 20px;
    }
    .contact .cont{
        font-size: 23px !important;
    }
    .contact .ph{
        font-size: 17px !important;
    }
    .contact .button{
        width: 360px;
    }
}
@media only screen and (min-width: 1028px) {
    .in-dual input{
        width: 230px !important;
    }
    .why-hol .img-hol img{
        height: 600px;
        width: 600px;
    }
    .why-txt-hol div h5{
        font-size: 48px;
    }
    .why-txt-hol div p{
        font-size: 28px;
    }
    .help-txt div h5{
        font-size: 40px;
    }
}